{% extends 'base.html.twig' %}

{% block title %}Modifier un auteur{% endblock %}

{% block main %}
    <h1>Modifier les informations sur {{ author.authorFirstname }} {{ author.authorName }}</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_author_index') }}">Retourner à la liste des auteurs</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
