{% extends 'base.html.twig' %}

{% block title %}Tous les auteurs{% endblock %}

{% block main %}
    <h1 class="main__title--text">Tous les auteurs</h1>

    <a class="main__link" href="{{ path('app_author_new') }}">Ajouter un nouvel auteur à la base de données</a>

    {% if app.request.getPathInfo starts with '/professional' %}
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>Identité de l'auteur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{ author.authorFirstname }} {{ author.authorName }}</td>
                        <td>
                            <a href="{{ path('app_author_edit', {'id': author.id}) }}"><i class="bi bi-pencil-square"></i></a>
                            <a href="{{ path('app_author_delete', {'id': author.id}) }}"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun auteur n'a pu être récupéré...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    {% else %}
        <section class="container--flex-row card-container">
            {% for author in authors %}
                {% include('components/_cardAuthor.html.twig') with {
                    'authorFirstname': author.authorFirstname,
                    'authorName': author.authorName,
                    'authorId': author.id
                } %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
