{% extends 'base.html.twig' %}

{% block title %}{{ author.authorFirstname }} {{ author.authorName }}{% endblock %}

{% block main %}
    <h1 class="main__title--text">{{ author.authorFirstname }} {{ author.authorName }}</h1>

    <a class="main__link" href="{{ path('app_author_index_user') }}">Retourner à la liste des auteurs</a>

    <section class="container--flex-row card-container">
        {% for book in books %}
            {% include('/components/_cardBook.html.twig') with {
                'img': book.bookCover,
                'title': book.bookTitle,
                'author': book.bookAuthor.authorName,
                'editor': book.bookEditor.editorName,
                'bookId': book.id,
                'authorId': book.bookAuthor.id,
                'editorId': book.bookEditor.id,
            } %}
        {% endfor %}
    </section>
{% endblock %}
