{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block main %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Author_name</th>
                <td>{{ author.authorName }}</td>
            </tr>
            <tr>
                <th>Author_firstname</th>
                <td>{{ author.authorFirstname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_author_index') }}">back to list</a>

    <a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a>

    {{ include('author/_delete_form.html.twig') }}

    <section>
        {% for book in books %}
            {% include('/components/_cardBook.html.twig') with {
                'img': book.bookCover,
                'title': book.bookTitle,
                'author': book.bookAuthor.authorName,
                'editor': book.bookEditor.editorName,
                'bookId': book.id,
                'authorId': book.bookAuthor.id,
                'editorId': book.bookEditor.id,
            } %}
        {% endfor %}
    </section>
{% endblock %}
