<h2>Auteurs</h2>
<li>
    <a href="{{ path('app_author_index') }}">
        Voir les auteurs
    </a>
</li>
<li>
    <a href="{{ path('app_author_new') }}">
        Ajouter un auteur
    </a>
</li>
<h2>Livres</h2>
<li>
    <a href="{{ path('app_book_index') }}">
        Voir les livres
    </a>
</li>
<li>
    <a href="{{ path('app_book_new') }}">
        Ajouter un livre
    </a>
</li>
<h2>Catégories</h2>
<li>
    <a href="{{ path('app_category_index') }}">
        Voir les catégories
    </a>
</li>
<li>
    <a href="{{ path('app_category_new') }}">
        Ajouter une catégorie
    </a>
</li>
<h2>Éditeurs</h2>
<li>
    <a href="{{ path('app_editor_index') }}">
        Voir les éditeurs
    </a>
</li>
<li>
    <a href="{{ path('app_editor_new') }}">
        Ajouter un éditeur
    </a>
</li>
<h2>Utilisateurs</h2>
<li>
    <a href="{{ path('app_user_index') }}">
        Voir les utilisateurs
    </a>
</li>
<li>
    <a href="{{ path('app_user_new') }}">
        Ajouter un utilisateur
    </a>
</li>