<h2>Marquages</h2>
<li>
    <a href="{{ path('app_marked_by_user_index_admin') }}">
        <i class="bi bi-arrow-right"></i> Voir les marquages
    </a>
</li>
<h2>Auteurs</h2>
<li>
    <a href="{{ path('app_author_index') }}">
        <i class="bi bi-arrow-right"></i> Voir les auteurs
    </a>
</li>
<li>
    <a href="{{ path('app_author_new') }}">
        <i class="bi bi-arrow-right"></i> Ajouter un auteur
    </a>
</li>
<h2>Livres</h2>
<li>
    <a href="{{ path('app_book_index') }}">
        <i class="bi bi-arrow-right"></i> Voir les livres
    </a>
</li>
<li>
    <a href="{{ path('app_book_new') }}">
        <i class="bi bi-arrow-right"></i> Ajouter un livre
    </a>
</li>
<h2>Catégories</h2>
<li>
    <a href="{{ path('app_category_index') }}">
        <i class="bi bi-arrow-right"></i> Voir les catégories
    </a>
</li>
<li>
    <a href="{{ path('app_category_new') }}">
        <i class="bi bi-arrow-right"></i> Ajouter une catégorie
    </a>
</li>
<h2>Éditeurs</h2>
<li>
    <a href="{{ path('app_editor_index') }}">
        <i class="bi bi-arrow-right"></i> Voir les éditeurs
    </a>
</li>
<li>
    <a href="{{ path('app_editor_new') }}">
        <i class="bi bi-arrow-right"></i> Ajouter un éditeur
    </a>
</li>
<h2>Utilisateurs</h2>
<li>
    <a href="{{ path('app_user_index') }}">
        <i class="bi bi-arrow-right"></i> Voir les utilisateurs
    </a>
</li>
<li>
    <a href="{{ path('app_user_new') }}">
        <i class="bi bi-arrow-right"></i> Ajouter un utilisateur
    </a>
</li>