{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block main %}
    <h1>Category index</h1>

    {% if app.request.getPathInfo starts with '/professional' %}
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de la catégorie</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.categoryName }}</td>
                        <td>
                            <a href="{{ path('app_category_show', {'id': category.id}) }}"><i class="bi bi-pencil-square"></i></a>
                            <a href="{{ path('app_category_delete', {'id': category.id}) }}"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>

            <a href="{{ path('app_category_new') }}">Create new</a>
        </section>
    {% else %}
        <section class="container--flex-row card-container">
            {% for category in categories %}
                {% include('/components/_cardCategory.html.twig') with {
                    'categoryId': category.id,
                    'category': category.categoryName
                } %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
