{% extends 'base.html.twig' %}

{% block title %}Tous les livres{% endblock %}

{% block main %}
    {% if is_granted('ROLE_PROFESSIONAL') and app.request.getPathInfo starts with '/professional' %}
        <h1>Tous les livres parus sous {{ editor.editorName }}</h1>
    {% else %}
        <h1>Tous les livres</h1>
    {% endif %}

    {% if app.request.getPathInfo starts with '/professional' %}
        <section class="table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th>Titre du livre</th>
                    <th>Synopsys</th>
                    <th>Code ISBN</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% for book in books %}
                            <tr>
                                <td>{{ book.bookTitle }}</td>
                                <td>{{ book.bookSummary }}</td>
                                <td>{{ book.bookISBN }}</td>
                                <td>
                                    <a href="{{ path('app_book_edit', {'id': book.id}) }}"><i class="bi bi-pencil-square"></i></a>
                                    <a href="{{ path('app_book_delete', {'id': book.id}) }}"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                    {% elseif is_granted('ROLE_PROFESSIONAL') %}
                        {% for book in booksByCurrentEditor %}
                            <tr>
                                <td>{{ book.bookTitle }}</td>
                                <td>{{ book.bookSummary }}</td>
                                <td>{{ book.bookISBN }}</td>
                                <td>
                                    <a href="{{ path('app_book_edit', {'id': book.id}) }}"><i class="bi bi-pencil-square"></i></a>
                                    <a href="{{ path('app_book_delete', {'id': book.id}) }}"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            <a href="{{ path('app_book_new') }}">Create new</a>
        </section>
    {% else %}
        <section class="container--flex-row card-container">
            {% for book in books %}
                {% include('/components/_cardBook.html.twig') with {
                    'img': book.bookCover,
                    'title': book.bookTitle,
                    'author': book.bookAuthor.authorName,
                    'editor': book.bookEditor.editorName,
                    'bookId': book.id,
                    'authorId': book.bookAuthor.id,
                    'editorId': book.bookEditor.id,
                } %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
