{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block main %}
    <h1>Book index</h1>

    {% if app.request.getPathInfo starts with '/professional' %}
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>BookTitle</th>
                    <th>BookSummary</th>
                    <th>BookISBN</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.bookTitle }}</td>
                        <td>{{ book.bookSummary }}</td>
                        <td>{{ book.bookISBN }}</td>
                        <td>
                            <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                            <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_book_new') }}">Create new</a>
        </section>
    {% else %}
        <section>
            {% for book in books %}
                {% include('/components/_cardBook.html.twig') with {
                    'img': book.bookCover,
                    'title': book.bookTitle,
                    'author': book.bookAuthor.authorName,
                    'editor': book.bookEditor.editorName,
                    'bookId': book.id,
                    'authorId': book.bookAuthor.id,
                    'editorId': book.bookEditor.id,
                } %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
