{% extends 'base.html.twig' %}

{% block title %}{{ book.bookTitle }}{% endblock %}

{% block main %}
    <div class="container--flex-row main__book--container">
        <div class="container--flex-column main__book-detail--container">
            <h1>{{ book.bookTitle }}</h1>
            <h2>Code ISBN - {{ book.bookISBN }}</h2>
            <p>{{ book.bookSummary }}</p>
            <a href="{{ path('app_book_index_user') }}">Retourner à la liste des livres</a>
            <a href="{{ path('app_marked_by_user_new', {idBook: book.id, idStatus: 1}) }}">Marquer comme à lire</a>
            <a href="{{ path('app_marked_by_user_new', {idBook: book.id, idStatus: 2}) }}">Marquer comme en cours de lecture</a>
            <a href="{{ path('app_marked_by_user_new', {idBook: book.id, idStatus: 3}) }}">Marquer comme lu</a>
        </div>
        <img class="main__book--cover" src="{{ asset(book.bookCover) }}">
    </div>
{% endblock %}
