{% extends 'base.html.twig' %}

{% block title %}{{ book.bookTitle }}{% endblock %}

{% block main %}
    <div class="container--flex-row main__book--container">
        <div class="container--flex-column main__book-detail--container">
            <h1>{{ book.bookTitle }}</h1>
            <h2>Code ISBN - {{ book.bookISBN }}</h2>
            <p>{{ book.bookSummary }}</p>
            <a href="{{ path('app_book_index_user') }}">Retourner à la liste des livres</a>
        </div>
        <img class="main__book--cover" src="{{ asset(book.bookCover) }}">
    </div>
{% endblock %}
