{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>BookTitle</th>
                <td>{{ book.bookTitle }}</td>
            </tr>
            <tr>
                <th>BookSummary</th>
                <td>{{ book.bookSummary }}</td>
            </tr>
            <tr>
                <th>BookISBN</th>
                <td>{{ book.bookISBN }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_book_index') }}">back to list</a>

    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
