{% extends 'base.html.twig' %}

{% block title %}{{ book.bookTitle }}{% endblock %}

{% block main %}
    <div class="container--flex-row main__book--container">
        <div class="container--flex-column main__book-detail--container">
            <h1 class="main__title--text">{{ book.bookTitle }}</h1>
            <h2>Code ISBN - {{ book.bookISBN }}</h2>
            <p>{{ book.bookSummary }}</p>
            <a class="main__link main__link-no-decoration" href="{{ path('app_marked_by_user_new', {idBook: book.id, idStatus: 1}) }}"><i class="bi bi-bookmark"></i> Marquer comme à lire</a>
            <a class="main__link main__link-no-decoration" href="{{ path('app_marked_by_user_new', {idBook: book.id, idStatus: 2}) }}"><i class="bi bi-bookmark-fill"></i> Marquer comme en cours de lecture</a>
            <a class="main__link main__link-no-decoration" href="{{ path('app_marked_by_user_new', {idBook: book.id, idStatus: 3}) }}"><i class="bi bi-bookmark-check-fill"></i> Marquer comme lu</a>
            <a class="main__link" href="{{ path('app_book_index_user') }}">Retourner à la liste des livres</a>
        </div>
        <img class="main__book--cover" src="{{ asset('images/bookCover/' ~ book.bookCover) }}">
    </div>
{% endblock %}
