{% extends 'base.html.twig' %}

{% block title %}{{ editor.editorName }}{% endblock %}

{% block main %}
    <h1 class="main__title--text">{{ editor.editorName }}</h1>

    <a href="{{ path('app_editor_index_user') }}">Retourner à la liste des éditeurs</a>

    <h2>Collections de {{ editor.editorName }}</h2>
    <section class="container--flex-row card-container">
        {% for category in categories %}
            {% include('/components/_cardCategory.html.twig') with {
                'categoryId': category.id,
                'category': category.categoryName
            } %}
        {% endfor %}
    </section>
    <h2>Œuvres parues sous {{ editor.editorName }}</h2>
    <section class="container--flex-row card-container">
        {% for book in books %}
            {% include('/components/_cardBook.html.twig') with {
                'img': book.bookCover,
                'title': book.bookTitle,
                'author': book.bookAuthor.authorName,
                'editor': book.bookEditor.editorName,
                'bookId': book.id,
                'authorId': book.bookAuthor.id,
                'editorId': book.bookEditor.id,
            } %}
        {% endfor %}
    </section>
{% endblock %}
