{% extends 'base.html.twig' %}

{% block title %}Editor{% endblock %}

{% block main %}
    <h1>Editor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ editor.id }}</td>
            </tr>
            <tr>
                <th>EditorName</th>
                <td>{{ editor.editorName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_editor_index') }}">back to list</a>

    <a href="{{ path('app_editor_edit', {'id': editor.id}) }}">edit</a>

    {{ include('editor/_delete_form.html.twig') }}

    <section>
        {% for category in categories %}
            {% include('/components/_cardCategory.html.twig') with {
                'categoryId': category.id,
                'category': category.categoryName
            } %}
        {% endfor %}
    </section>

    <section>
        {% for book in books %}
            {% include('/components/_cardBook.html.twig') with {
                'img': book.bookCover,
                'title': book.bookTitle,
                'author': book.bookAuthor.authorName,
                'editor': book.bookEditor.editorName,
                'bookId': book.id,
                'authorId': book.bookAuthor.id,
                'editorId': book.bookEditor.id,
            } %}
        {% endfor %}
    </section>
{% endblock %}
