<article>
    <img src="{{ asset(img) }}" alt="{{ title }}">
    <div>
        <a href="{{ path('app_book_show', {id: bookId }) }}">{{ title }}</a>
        <a href="{{ path('app_author_show', {id: authorId }) }}">{{ author }}</a>
        <a href="{{ path('app_editor_show', {id: editorId}) }}">{{ editor }}</a>
    </div>
</article>